@import '~styles/app';
.header {
    z-index: 100;
    padding: 7px 1.85rem 0;
    background: $body-bg;
    @include media-breakpoint-down(md) {
        padding: 7px 10px;
    }
    .la-globe {
        padding-top: 5px;
    }
}

.navbarForm {
    padding: 6px 0 6px 1rem;
    margin-left: 10px;
    display: inline-block;
    top: 2px;
    width: auto;
    .inputAddon {
        position: relative;
        display: inline;
        border: none;
        background-color: #fff;
        transition: background-color ease-in-out 0.15s;
    }
    input {
        border: none;
        padding: 0.6rem 0.85rem 0.6rem 0;
        display: inline !important;
        width: 250px !important;
        top: 2px;
    }
}

.avatar {
    width: 30px;
}

.chatNotification {
    position: absolute;
    right: 2px;
    width: 300px;
    top: 35px;
    z-index: 20;
    margin-top: 3px;
    padding: 5px 0;
    cursor: pointer;
    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 18px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #343434;
    }
    .chatNotificationInner {
        min-width: 120px;
        padding: 8px;
        font-size: 12px;
        border-radius: 0.25rem;
        text-decoration: none;
        background-color: #343434;
        color: #fff;
    }
    .text {
        margin-top: 5px;
        margin-bottom: 0;
        color: $gray-600;
    }
    .title {
        margin: 0;
        font-weight: 600;
        line-height: 28px;
        font-size: 0.875rem;
        span {
            margin-right: 5px;
        }
    }
}

.navbarBrand {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    pointer-events: none;
    i {
        font-size: 10px;
    }
}

.notificationsMenu {
    .dropdown-menu {
        left: auto !important;
        right: 0 !important;
        top: $navbar-height !important;
    }
}

.settingsDropdown {
    .dropdown-item:focus {
        outline: none;
    }
}

.notificationsWrapper {
    width: min-content;
}