@import '~styles/app';
.sidebar {
    width: $sidebar-width-open;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $sidebar-bg-color;
    color: $sidebar-color;
    overflow-y: auto;
    @include scroll-bar($sidebar-scrollbar-bg);
}

.logo {
    margin: 15px 0;
    font-size: 18px;
    width: 100%;
    font-weight: $font-weight-thin;
    text-align: center;
    transition: width $sidebar-transition-time ease-in-out;
    a {
        color: $gray-800;
        padding: 0 5px;
        text-decoration: none;
        white-space: nowrap;
    }
}

.sidebarClose .logo {
    width: 50px;
}

.sidebarStatic .logo {
    width: 100%;
    transition: none;
}

.nav {
    width: 100%;
    padding: 30px 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navTitle {
    margin: 35px 0 5px 11px;
    font-size: $font-size-larger;
    transition: opacity $sidebar-transition-time ease-in-out;
    @media (min-width: breakpoint-min(lg)) {
        opacity: 1;
    }
}

.sidebarClose .navTitle {
    opacity: 0;
}

.sidebarStatic .navTitle {
    opacity: 1;
    transition: none;
}

.actionLink {
    color: #aaa;
    float: right;
    margin-right: 15px;
    margin-top: -1px;
    .la {
        font-size: $font-size-sm;
        margin-top: 4px;
    }
}

.labelName {
    opacity: 1;
    transition: opacity $sidebar-transition-time ease-in-out;
}

.sidebarClose .labelName {
    opacity: 0;
}

.sidebarStatic .labelName {
    transition: none;
    opacity: 1;
}

.glyphiconSm {
    font-size: 9px;
}

.sidebarLabels {
    list-style-type: none;
    padding: 11px;
    padding-right: 15px;
    >li+li {
        margin-top: 10px;
    }
    li>a {
        font-size: $font-size-mini;
        color: $sidebar-color;
        text-decoration: none;
        >i {
            font-size: 11px;
            vertical-align: 1px;
            transition: margin-left $sidebar-transition-time ease-in-out;
        }
    }
}

.sidebarClose {
    .sidebarLabels>li>a>i {
        margin-left: 8px;
        transition: margin-left $sidebar-transition-time ease-in-out;
    }
}

.sidebarStatic {
    .sidebarLabels>li>a>i {
        transition: none;
        margin-left: 0;
    }
}

.sidebarAlerts {
    margin-bottom: $spacer * 2;
    transition: opacity $sidebar-transition-time ease-in-out;
    opacity: 1;
}

.sidebarClose .sidebarAlerts {
    opacity: 0;
}

.sidebarStatic .sidebarAlerts {
    opacity: 1;
    transition: none;
}

.sidebarAlert {
    background: transparent;
    margin-bottom: 0;
    padding: 0.5rem 11px;
    padding-right: 15px;
}

.sidebarProgress {
    background: lighten($sidebar-bg-color, 10%);
}

.groupTitle {
    margin-bottom: 15px;
}